<header>
    <nav class="sticky-top navbar-expand-lg bg-dark container-fluid">
        <div class="row">
            <div class="col-4 d-flex align-items-center">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link fs-5" href="../pages/login.html">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-5" href="../pages/join.html">Join</a>
                    </li>
                </ul>
            </div>
            <div class="col-4 d-flex justify-content-center align-items-center">
                <a href="../index.html" class="text-decoration-none">
                    <h1 class="display-1 mb-0">DressRoom</h1>
                </a>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                <a href="../pages/carrello.html" class="me-5">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                        class="bi bi-cart text-primary" viewBox="0 0 16 16">
                        <path
                            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                    </svg>
                </a>
                <a href="../pages/preferiti.html" class="me-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                        class="bi bi-bag-heart text-primary" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5Zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0ZM14 14V5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1ZM8 7.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z" />
                    </svg>
                </a>
            </div>
        </div>
        <div class="row d-flex align-items-center border-top border-secondary py-2">
            <div class="col-4"></div>
            <div class="col-4 d-flex align-items-center justify-content-center">
                <ul class="nav">
                    <div *ngFor="let categoryObj of categoryList">
                        <li class="nav-item">
                            <a class="nav-link fs-5"
                                [routerLink]="['/catalogo/' + categoryObj.path]">{{categoryObj.name}}</a>
                        </li>
                    </div>
                    <li class="nav-item">
                        <a class="nav-link fs-5" href="">Saldi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-5" href="">Più venduti</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-5" href="">Contatti</a>
                    </li>
                </ul>
            </div>
            <div class="col-4 d-flex align-items-center justify-content-end">
                <form class="d-flex search" action="search">
                    <input class="form-control bg-transparent border-secondary text-primary" type="search"
                        placeholder="cerca">
                    <button class="btn btn-outline-secondary" type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                            class="text-primary " id="search" viewBox="0 0 16 16">
                            <path
                                d="M 11.742 10.344 a 6.5 6.5 0 1 0 -1.397 1.398 h -0.001 c 0.03 0.04 0.062 0.078 0.098 0.115 l 3.85 3.85 a 1 1 0 0 0 1.415 -1.414 l -3.85 -3.85 a 1.007 1.007 0 0 0 -0.115 -0.1 z z" />
                        </svg>
                    </button>
                </form>
            </div>
        </div>
    </nav>
</header>