<div class="container-fluid" style="width: 70rem;">
    <div class="row d-flex align-items-center justify-content-evenly pt-6">
        <div
            class="col-4 card d-flex align-items-center justify-content-center rounded-5 border border-3 border-bottom-0 border-primary bg-dark">
            <h2 class="text-secondary m-0">Registrazione</h2>
        </div>
    </div>
    <div class="row d-flex align-items-center justify-content-evenly">
        <div
            class="col-4 card d-flex align-items-center justify-content-center rounded-5 border-3 border-primary bg-dark">
            <form (submit)="join()" class="align-items-center justify-content-center">
                <div class="row mt-3 mb-1">
                    <label for="inputnome"
                        class="col-form-label p-0 d-flex align-items-center justify-content-center">nome</label>
                </div>
                <div class="row mb-4 d-flex align-items-center justify-content-center">
                    <div class="col">
                        <input type="text" class="form-control bg-dark text-light" id="inputnome" name="nome"
                            [(ngModel)]="nome">
                    </div>
                </div>
                <div class="row mb-1">
                    <label for="inputcognome"
                        class="col-form-label p-0 d-flex align-items-center justify-content-center">cognome</label>
                </div>
                <div class="row mb-4 d-flex align-items-center justify-content-center">
                    <div class="col">
                        <input type="text" class="form-control bg-dark text-light" id="inputcognome" name="cognome"
                            [(ngModel)]="cognome">
                    </div>
                </div>
                <div class="row mb-1">
                    <label for="inputdatanascita"
                        class="col-form-label p-0 d-flex align-items-center justify-content-center">data
                        di nascita</label>
                </div>
                <div class="row mb-4 d-flex align-items-center justify-content-center">
                    <div class="col-auto">
                        <input type="date" class="form-control bg-dark text-light" id="inputdatanascita"
                            name="datanascita" [(ngModel)]="data_di_nascita">
                    </div>
                </div>
                <div class="row mb-1">
                    <label for="inputcitta"
                        class="col-form-label p-0 d-flex align-items-center justify-content-center">città</label>
                </div>
                <div class="row mb-4 d-flex align-items-center justify-content-center">
                    <div class="col">
                        <input type="text" class="form-control bg-dark" id="inputcitta">
                    </div>
                </div>
                <div class="row mb-1">
                    <label for="inputindirizzo"
                        class="col-form-label p-0 d-flex align-items-center justify-content-center">indirizzo</label>
                </div>
                <div class="row mb-4 d-flex align-items-center justify-content-center">
                    <div class="col">
                        <input type="text" class="form-control bg-dark" id="inputindirizzo">
                    </div>
                </div>
                <div class="row mb-1">
                    <label for="inputcap"
                        class="col-form-label p-0 d-flex align-items-center justify-content-center">cap</label>
                </div>
                <div class="row mb-4 d-flex align-items-center justify-content-center">
                    <div class="col-auto">
                        <input type="text" class="form-control bg-dark" id="inputcap">
                    </div>
                </div>
                <div class="row mb-1">
                    <label for="inputemail"
                        class="col-form-label p-0 d-flex align-items-center justify-content-center">email</label>
                </div>
                <div class="row mb-4 d-flex align-items-center justify-content-center">
                    <div class="col">
                        <input type="email" class="form-control bg-dark text-light" id="inputemail" name="email"
                            [(ngModel)]="email">
                    </div>
                </div>
                <div class="row mb-1">
                    <label for="inputpassword"
                        class="col-form-label p-0 d-flex align-items-center justify-content-center">password</label>
                </div>
                <div class="row mb-4 d-flex align-items-center justify-content-center">
                    <div class="col">
                        <input type="password" class="form-control bg-dark text-light" id="inputpassword"
                            name="password" [(ngModel)]="password">
                    </div>
                </div>
                <div class="row mb-1 mt-3">
                    <div class="col m-0 p-0 d-flex align-items-center justify-content-evenly">
                        <div class="form-check m-0 p-0 d-flex align-items-center justify-content-evenly">
                            <input class="form-check-input m-0 p-0 me-3 bg-dark" type="checkbox" id="mydressroom">
                            <label
                                class="form-check-label m-0 p-0 text-primary d-flex align-items-center justify-content-evenly"
                                for="mydressroom">
                                Abbonati a <a href="" class="ms-1">
                                    <h3 class="text-secondary m-0">MyDressRoom</h3>
                                </a>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row my-4 mb-5">
                    <div class="col d-flex align-items-center justify-content-evenly g-2">
                        <button (click)="join()"
                            class="btn btn-dark fs-4 text-primary align-items-center justify-content-evenly border-primary">REGISTRATI</button>
                    </div>
                    <div class="col d-flex align-items-center justify-content-evenly g-2">
                        <button (click)="reset()"
                            class="btn btn-dark fs-4 text-danger align-items-center justify-content-evenly border-danger">ANNULLA</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>