/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

//FONT
@font-face {
    font-family: fonth;
    src: url(assets/fonts/suarte.ttf);
}

@font-face {
    font-family: fontss;
    src: url(assets/fonts/coolvetica.otf);
}

//Modificare variabili
// $primary: #7B2CBF;
// $secondary: #a379c8;
$primary: #E9B200;
$secondary: #FF7900;

$headings-font-family: fonth;
$font-family-sans-serif: fontss;

$spacer: 1rem !default;
$spacers: (
    0: 0,
    1: $spacer * .25,
    2: $spacer * .5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 2,
    6: $spacer * 3,
    7: $spacer * 4,
    8: $spacer * 5,
    9: $spacer * 6,
    ) !default;

$display-font-sizes: (
    1: 5rem,
    2: 4.5rem,
    3: 4rem,
    4: 3.5rem,
    5: 3rem,
    6: 2.5rem,
    10: 7.5rem,
    11: 10rem,
    12: 12.5rem,
    13: 15rem,
    14: 20rem,
    15: 30rem,
    16: 40rem,
    17: 50rem,
    ) !default;

$enable-negative-margins: true;

$list-group-border-color: #E9B200;

$component-active-color: $secondary;
$form-check-input-indeterminate-color: $secondary;

@import '../node_modules/bootstrap/scss/bootstrap.scss';

//CLASSI
body {
    width: 100%;
}

app-catalogo {
    width: 100%;
}

.banner-image {
    background-image: url('assets/images/cabina.webp'
    );
background-size: cover;
background-position: center;
background-attachment: fixed;
}

.bg-payoff {
    background-color: rgb(233, 178, 0, 0.8);
}

.bg-arrow {
    background-color: rgb(255, 121, 0, 0.8);
}

// .stroke2 {
//     -webkit-text-stroke: 1px #E9B200;
// }

.stroke {
    border: 5px solid #E9B200;
    border-radius: 50%;
    background-color: #E9B200;
}

.categoria {
    width: 35rem;
    height: 35rem;
}

a {
    color: #FF7900;
    cursor: pointer;
}

nav h1 {
    font-size: 80px;
    color: #E9B200;
}

label>a {
    text-decoration: none;
}

label {
    color: #E9B200;
}

.zoom {
    transition: transform .3s;
}

.zoom:hover {
    transform: scale(1.3);
    z-index: 1;
    position: relative;
}

.zooms {
    transition: transform .3s;
}

.zooms:hover {
    transform: scale(2);
}

.btn:hover {
    background-color: $primary;

    svg {
        fill: black;
    }
}